html{
	height: 100%;
	margin: 0;
	padding: 0;
}
body{
	height: 100%;
	margin: 0;
	padding: 0;
}
.bg{
	margin-top: 5%
}
.eds-btn.eds-btn--block {
    display: block;
    width: 100%;
    background-color: #d81717;
    color: #ffffff;
}

.eds-btn--fill, .eds-btn--fill:focus{
    color: #fff;
    fill: #fff;    
}

.eds-btn--fill:hover {
    background-color: #0ece38;
    color: #000000;
    -webkit-box-shadow: 15px 16px 5px -9px rgba(224,215,215,1);
	-moz-box-shadow: 15px 16px 5px -9px rgba(224,215,215,1);
	box-shadow: 15px 16px 5px -9px rgba(224,215,215,1);
}

.eds-btn {
    position: relative;
    height: 44px;
    padding: 0 30px 1px;
    text-align: center;
    line-height: 24px;
    font-weight: 600;
    color: #39364f;
    fill: #39364f;
    background: transparent;
    border: 2px solid;
    border-radius: 4px;
    cursor: pointer;
    -webkit-transition: all .4s cubic-bezier(.4,0,.3,1);
    transition: all .4s cubic-bezier(.4,0,.3,1);
}

.navbar{
	font-weight: 600;
	color: white;
}

.nav{
	justify-content: flex-end;
}

.forgot-password{
	position: relative;
    background: none;
    border: none;
}

.container-forgot{
	text-align: center;
}

.container-welcome{
	text-align: center;
}

.welcometag1{
	font-family: "Times New Roman", Times, serif, monospace;
	font-size: 50px;
	font-variant: small-caps;
	text-align: center;
	color: #d81717;
	height: 60px;
	margin-bottom: 10px;
}



.footer{
	background-color: black;
	text-align: center;
	padding: 0.2em;
    position: absolute;
    width: 100%;
    /* font-family: "Times New Roman", Times, serif, monospace; */
    height: 35px;
    color: white;
    margin-top: 1em;
}

.subtitle{
	font-family: "Times New Roman", Times, serif, monospace;
	text-align: center;
}

#rowalign{
	display: block;
	text-align: center;
	justify-content: center;
}

#text-center, .text-center{
	text-align: center;
}

#emailvaliderror, #passwordvaliderror,
#errorfname, #errorlname, #errorgender, #erroremail,
#errornumber, #erroruniv, #errorbranch, #description {
	color: red;
}

#imagewidth{
	width: 115%;
}

.bar-width{
	width: 3em;
}
@media only screen and (min-width: 150px) {
  .texttitle{
  	display: none;
  }
  .imagetitle{
  	display: inline-block;
    width: 25%;
  }
  .imagehelptitle{
  	display: inline-block;
  }
  .texthelptitle{
  	display: none;
  }
  .textabouttitle{
  	display: none;
  }
  .priceview{
  	display: inline-block;
  }
  .cardright{
  	display: none;
  }
  .priceviewincard{
  	display: none;
  }
  .infohider{
  	display: inline-block;
  }
  .btnposition{
 	 width: 70%;
}
}
@media only screen and (min-width: 990px) {
  .imagetitle{
  	display: none;
  }
  .texttitle{
  	display: inline-block;
  }
  .imagehelptitle{
  	display: none;
  }
  .texthelptitle{
  	display: inline-block;
  }
  .priceview{
  	display: none;
  }
  .cardright{
  	display: inline-block;
  }
  .priceviewincard{
  	display: inline-block;
  }
  .infohider{
  	display: none;
  }
}

#mbottom{
	margin-bottom: 0;
}

.row{
	margin-right: 0;
	margin-left: 0;
}

.btn{
	text-align: center !important;
}

.general_information{
	font-family: "Time New Roman";
	font-size: 1.25em;
	font-weight: bold;
	text-align: left;
	color: #d81717;
	width: 320px;
	margin-top: 8%;
}

.imgadjust{
	padding-left: 3em;
    margin-top: 6%;
    margin-left: 4%;
}

.info{
	padding-top: 0.5em;
}

.padding{
	padding: 1em;
}

.emptyimage{
	margin-left: 4.5em;
}

.padleft{
	padding-left: 3em;
	margin-bottom: 5em;
}

.footer_style {
   	background-color: black;
   	color: #fff;
   	height: 40px;
   	width: 100%;
   	position: absolute;
   	left: 0em;
   	bottom: 0em;
   	text-align: center;
   	padding-top: 0.50em;
}

.wrapper{
	min-height: 100%;
	position: relative;
}

.general_edit{
	font-family: "Time New Roman";
	font-size: 1.65em;
	font-weight: bold;
	text-align: left;
	color: #d81717;
	width: 320px;
}

.padimage{
	padding: 1em;
    margin-left: 4em;
}

.padbottom{
	padding-bottom: 3em;
}

.socialimg{
	width: 2em;
	float: left;
}

.socialfbbutton{
	width: 10em;
	background-color:  #436fcc;
	color: white;
	border-color: #000000;
}

.socialgmailbutton{
	width: 10em;
	background-color:  #ed2f17;
	color: white;
	border-color: #000000;
}

.errorlname, .description{
	color: red;
}

.map-container-2{
	overflow:hidden;
	padding-bottom:56.25%;
	position:relative;
	height:0;
}
.map-container-2 iframe{
	left:0;
	top:0;
	height:100%;
	width:100%;
	position:absolute;
}

.socialimg_event{
	width: 3em;
    margin: 0.50em;
}

.pl6{
	padding-left: 6em;
}

.pt2{
	padding-top: 2em;
}

.ml{
	margin-left: 1.25em;
}

.pl4{
	padding-left: 4em;
}

.pt1{
	padding-top: 1em;
}

.btnposition{
    position: initial;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: 100%;
    max-width: 320px;
    
}

.boxtransition{
    cursor: pointer;
    transition: all 0.3s linear;
}

.boxtransition:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

.maindiv1{
	height: 100%;
	margin-top: -2em;
}

/*<!-- Adding for event description-->*/

.listing-panel-wrapper {
    position: relative;
    padding: 0;
    margin: 0;
}

.paddingtext{
	padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1.071em;
    padding-right: 1.071em;
    display: block;
}

.paddinginline{
	display: inline-block;
	position: absolute;
}

.date{
	font-size: 17px;
	font-weight: normal;
	line-height: 1.25em;
	letter-spacing: 1px;
}

.month{
	font-size: 13px;
	font-weight: 600;
	line-height: 15px;
	letter-spacing: .5px;
	text-transform: uppercase;
}

.paddinginlinetext{
	margin-left: 60px;
	display: inline-block;
	padding-top: 0;
}

.heading1{
	max-height: 125px;
	-webkit-line-clamp: 4;
	line-height: 20px;
	padding-bottom: 2px;
	display: block;
	display: -webkit-box;
	margin: 0 auto;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #1E0A3C;
	font-weight: 600;
	font-size: 20px;
	/* line-height: 21px; */
	letter-spacing: .5px;
	word-break: break-word;
}

.mt{
	margin-top: 0.5em;
}

.tal{
	text-align: left;
}

.buttonalignright{
	justify-content: flex-end;
    display: flex;
}


.navbar .nav-icon, .navbar-brand-icon {
	display: none;
}
@media only screen and (max-width: 991px) {
.navbar .nav-icon {
	font-size: 30px;
	display: block;
    padding: 4px 25px;
    color: #efeded;
}
.navbar-brand-icon {
	display: block;
	padding-right: 10px;
}
.navbar-brand {
	display: none;
}

.fab  {
    border-right: 1px solid #7e7373;
}
}

@media only screen and (min-width: 150px) {

.btnposition{
 	 width: 70%;
}
}
